* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: clamp(14px, 2.5vw, 18px);
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.79);
}

body {
  background-color: #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.hero {
  width: 100%;
  padding: 0 2rem;
  background-color: #131111;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.hero nav {
  width: 100%;
  max-width: 2000px;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.hero nav .left h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
section.hero nav .left h1:hover {
  cursor: pointer;
}
section.hero nav .mid {
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  width: 35%;
  background-color: #1b1919;
  padding: 0.4rem;
}
section.hero nav .mid h4 {
  font-size: 0.8rem;
  font-weight: 300;
}
section.hero nav .mid h4:hover {
  cursor: pointer;
}
section.hero nav .right {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
section.hero nav .right button {
  border: 1px solid rgba(251, 255, 0, 0.663);
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.7rem 1.1rem;
  border-radius: 27px;
  transition: all 0.2s ease;
  font-weight: 300;
}
section.hero nav .right button:hover {
  cursor: pointer;
}
section.hero nav .right button:active {
  transform: scale(0.95);
}
section.hero .hero-content {
  max-width: 2000px;
  display: grid;
  grid-template-areas: "part1 part1 part1" "part2 part3 part4";
  grid-template-columns: 1fr 2.3fr 1fr;
}
section.hero .hero-content .part1 {
  grid-area: part1;
  place-items: center;
  padding-bottom: 1rem;
}
section.hero .hero-content .part1 h1,
section.hero .hero-content .part1 h2 {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  line-height: 109%;
}
section.hero .hero-content .part1 h2 {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}
section.hero .hero-content .part2 {
  grid-area: part2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.hero .hero-content .part2 > div {
  width: 70%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
section.hero .hero-content .part2 > div img {
  width: 60%;
  background-color: #1b1919;
  border-radius: 50%;
  padding: 0.5rem;
}
section.hero .hero-content .part2 p {
  font-size: 0.8rem;
  width: 70%;
  font-weight: 400;
  opacity: 0.7;
  font-family: inherit;
}
section.hero .hero-content .part3 {
  grid-area: part3;
}
section.hero .hero-content .part3 img {
  width: 100%;
}
section.hero .hero-content .part4 {
  grid-row: part4;
  place-items: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.hero .hero-content .part4 > div {
  width: 66%;
}
section.hero .hero-content .part4 > div .side-content {
  text-align: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 2px solid #cafe3f;
}
section.hero .hero-content .part4 > div .side-content:nth-child(1) {
  padding-top: 0;
}
section.hero .hero-content .part4 > div .side-content:nth-last-child(1) {
  border-bottom: none;
}
section.hero .hero-content .part4 > div .side-content h4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 110%;
}
section.hero .hero-content .part4 > div .side-content h4 span {
  color: #cafe3f;
}
section.hero .hero-content .part4 > div .side-content > span {
  font-size: 0.8rem;
  color: rgba(182, 203, 48, 0.968627451);
  font-weight: 400;
}

section.mid {
  width: 100%;
  max-width: 2000px;
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-between;
}
section.mid .part1 h3 {
  font-family: "Cabin Sketch";
  font-size: 1.5rem;
}
section.mid .part1 span {
  font-size: 2.5rem;
  font-family: "poppins";
}
section.mid .part2 {
  width: 30%;
}
section.mid button {
  width: 5rem;
  aspect-ratio: 1/1;
  color: rgba(255, 255, 255, 0.727);
  background-color: black;
  font-size: 3rem;
  border: 2px solid rgb(46, 46, 46);
  border-top-width: 4px;
  border-block-width: 4px;
  border-radius: 15px;
}
section.mid .bt2 {
  background-color: white;
  color: black;
  border-color: white;
}

section.monkey {
  width: 100%;
  max-width: 2000px;
  padding: 0rem 2rem;
  display: flex;
  gap: 2rem;
}
section.monkey svg {
  height: 0;
  width: 0;
  position: absolute;
}
section.monkey .monkey1,
section.monkey .monkey2,
section.monkey .monkey3 {
  background-color: #1b1919;
  padding: 1.3rem;
  flex-grow: 1;
  width: 10%;
  border-radius: 0.7rem;
}
section.monkey .monkey1 .outerwrapper,
section.monkey .monkey2 .outerwrapper,
section.monkey .monkey3 .outerwrapper {
  position: relative;
}
section.monkey .monkey1 .outerwrapper .top,
section.monkey .monkey2 .outerwrapper .top,
section.monkey .monkey3 .outerwrapper .top {
  position: absolute;
  color: rgba(255, 255, 255, 0.737);
  top: 0;
  right: 3%;
  z-index: 1;
}
section.monkey .monkey1 .outerwrapper .top h4,
section.monkey .monkey2 .outerwrapper .top h4,
section.monkey .monkey3 .outerwrapper .top h4 {
  font-size: 0.8rem;
  font-weight: 200;
}
section.monkey .monkey1 .outerwrapper .top h4 span,
section.monkey .monkey2 .outerwrapper .top h4 span,
section.monkey .monkey3 .outerwrapper .top h4 span {
  font-size: 1rem;
  font-weight: 500;
}
section.monkey .monkey1 .outerwrapper .bottom,
section.monkey .monkey2 .outerwrapper .bottom,
section.monkey .monkey3 .outerwrapper .bottom {
  position: absolute;
  bottom: 1%;
  left: 2%;
  display: flex;
  align-items: center;
  color: white;
  gap: 0.4rem;
}
section.monkey .monkey1 .outerwrapper .bottom h4,
section.monkey .monkey2 .outerwrapper .bottom h4,
section.monkey .monkey3 .outerwrapper .bottom h4 {
  font-weight: 300;
  font-size: 1rem;
}
section.monkey .monkey1 .outerwrapper .bottom img,
section.monkey .monkey2 .outerwrapper .bottom img,
section.monkey .monkey3 .outerwrapper .bottom img {
  width: 4%;
}
section.monkey .monkey1 .wrapper,
section.monkey .monkey2 .wrapper,
section.monkey .monkey3 .wrapper {
  clip-path: url(#clip);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
section.monkey .monkey1 .wrapper .bg,
section.monkey .monkey2 .wrapper .bg,
section.monkey .monkey3 .wrapper .bg {
  height: 3rem;
  background-color: #fa4121;
}
section.monkey .monkey2 .wrapper .bg {
  background-color: #ffb700;
}
section.monkey .monkey2 .wrapper img {
  transform: scale(1.3);
}
section.monkey .monkey3 .wrapper .bg {
  background-color: #61c15c;
}

@media (max-width: 900px) {
  main section.hero nav .left {
    font-size: 1rem;
  }
  main section.hero nav .mid {
    display: none;
  }
  main section.hero nav .right i {
    display: none;
  }
  main section.hero .hero-content {
    grid-template-areas: "part1" "part3" "part4" "part2";
    grid-template-columns: 1fr;
  }
  main section.hero .hero-content .par1 {
    place-content: center;
  }
  main section.hero .hero-content div.part2 {
    align-items: center;
  }
  main section.hero .hero-content div.part4 {
    margin-top: 2rem;
    align-items: center;
  }
  main section.hero .hero-content div.part4 > div {
    width: 100%;
  }
  main section.mid {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  main section.mid .part1, main section.mid .part2, main section.mid .part3 {
    width: 100%;
  }
  main section.mid .part1 h3 {
    font-size: 2rem;
  }
  main section.mid .part1 span {
    font-size: 4rem;
    line-height: 100%;
  }
  main section.monkey {
    flex-direction: column;
  }
  main section.monkey .monkey1, main section.monkey .monkey2, main section.monkey .monkey3 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */